ol.ul {
    list-style-type: disc; /* circle, square, decimal, lower-latin, lower-roman, none */
    list-style-position: outside; /* inside */
}

ul.block {
    border-left: 5px solid blue;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
}

ul.table {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

ul.table li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ul.table li:last-child {
    border-bottom: none;
}

ul.bullet {
    list-style-image: url("rocket.svg");
}

ul.hnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

ul.hnav li {
    float: left;
}

ul.hnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.hnav li a:hover {
    background-color: green;
}
