* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

section {
    margin-top: 2rem;
}

#toggle {
    float: right;
    background-color: gainsboro;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#toggle fieldset:not(:last-child) {
    margin-bottom: 1rem;
}

#demo {
    clear: both;
}

/* --------------- DEMO --------------- */

.container {
    display: grid;
    grid-gap: 1rem;
    border: 1px solid red;
    /* default value */
    grid-template-columns: repeat(5, 200px);
}

.item {
    background-color: lightblue;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}